<div class="posts_wrapper">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="head">
          <h4 class="name">User's Name</h4>
        </div>

        <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
        </div>

        <p class="caption"><%= post.caption %></p>
      </div>
    <% end %>
  </div>
</div>